name: Docker Build & Push

on:
  push:
    branches:
      - master  

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    env:
      IMAGE_NAME: ndtek/celonapp
      APP_VERSION: 1.0.0                
      DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
      DOCKER_HUB_TOKEN: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    steps:
     
      - name: Checkout code
        uses: actions/checkout@v3

     
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

     
      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ env.DOCKER_HUB_USERNAME }}
          password: ${{ env.DOCKER_HUB_TOKEN }}

     
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha[0:7] }}   # short commit SHA
            ${{ env.IMAGE_NAME }}:${{ github.ref_name }}    # branch tag
            ${{ env.IMAGE_NAME }}:${{ env.APP_VERSION }}   # version tag

      # 5️⃣ Optional: verify image exists
      - name: Verify Docker image
        run: docker pull ${{ env.IMAGE_NAME }}:latest
